//variables




*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
@for $i from 1 through 12 {
	.coll-#{$i} {width: 8.3333% * $i}
}
body{
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}
.visually-hidden{
	position: absolute;
	top: 0;
	left: -9999999999999px;
	height: 1px;
	width: 1px;
}
.ba_header{
	background-image: url(../img/bg1.png);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 1128px;
}
.header__content{
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	margin: 0 auto;
	padding-top: 3.437rem;
}
.slider__change{
	display: flex;
}
.nav__container{
	display: flex;
	
}
.container{
	max-width: 1160px;
	margin: 0 auto;
}

.slider__change-item{
	height: 10px;
	width: 10px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	border: 1px solid #000;
	    margin: 25px 5px;
	
}
.menu__btn{
	width: 60px;
	height: 60px;
	background-color:#000;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;

	
		& span{
			width: 20px;
			height: 2px;
			background-color:#fff;
			margin-bottom: 5px;
		}
}
.brand__name{
	padding-top: 100px;
	
}
.brand__tagline{
	font-size: 9.375em;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin: 0;
	font-weight: 700;
}
.shopping__btn{
	border: none;
	width: 290px;
	height: 60px;
	background-color: #82f4d3;
	color: #323237;
	font-size: 1.563em;
	text-transform: uppercase;
	font-weight: 700;
	margin: 30px 74px;
	cursor: pointer;
	position: relative;
	
		
	

		&:before{
			content: "";
			position: absolute;
			top: 12px;
			left: -12px;
			border: 2px solid #82f4d3;
			width: 290px;
			height: 60px;
			
			
		}


}
.brand__img{
	position: absolute;
	top: 25%;
	left: 36%;
}
.aside__text{
	max-width: 335px;
	font-size: 0.875em;
	line-height: 1.78;
	color: #8f8f8f;
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	     -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	position: absolute;
	bottom: 18%;
	left: 0;
}
.social{
	position:fixed;
	right: 0;
	bottom: 0;
	margin-right:43px;
		
		&__item{
			height: 60px;
			width: 60px;
			background-color:#000;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			-webkit-align-items: center;
			        align-items: center;
			margin-bottom: 30px;
			
			&:hover{
				background-color: #FFF;
				
		}
	}
	&__link{
		color: #FFF;
		display: block;
		height: 100%;
		width: 100%;
		
		&:hover{
			color: #82f4d3;
		}
	}
	
	&-list{
		list-style: none;
	}



	&__img{
		margin: 20px 20px;
		color: inherit;
		&:hover{
			color: #82f4d3;
		}
		
	}
}
.first__section{
	display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
	position: relative;
	padding: 100px 0;
	 
}
.content__img{
	padding: 10px;
	width: 690px;
	height: 590px;
	box-shadow: 0px 0px 10px 2px #e3e3e3;

}
.content__tagline{
	font-size: 2.813em;
	position: absolute;
	font-family: 'Cormorant Garamond', serif;
	top: 37%;
    left: 52.5%;
    margin: 0;
}
.content__text{
	position: absolute;
	top: 46%;
	left: 52.5%;
	max-width: 580px;
	font-family: 'Poppins', sans-serif;
	font-size: 0.938em;
	color: #888;
	font-weight: 300;
	margin: 0;
}
.content__btn{
	height: 50px;
    width: 145px;
    justify-content: baseline;
    align-self: flex-end;
    margin-bottom: 177px;
    border: none;
    background-color: #82F4D3;
    font-size:0.938em;
    cursor: pointer;
    position: relative;
    	
    	&:before{
    		content: "";
    		height: 50px;
    		width: 145px;
    		position: absolute;
    		top: -10px;
    		left: -10px;
    		border: 1px solid #82F4D3;
    		
    	}
}
.arrivals{
	height: 550px;
}
.arrivals__tagline{
	font-size: 2.813em;
	font-family: 'Cormorant Garamond', serif;
	margin-bottom: 60px;
}



.arrivals__models{
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.arrivals__items{
	width: 250px;
	height: 305px;


	
}
.arrivals__name{
	font-size: 0.938em;
	
	& span{
		color: #c4c4c4;
		margin-left: 20px;
	}
}
.arrivals__price{
	color: #c4c4c4;
	font-size: 1.563em;
	margin-top: 25px;
}
.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	
}
.arrivals__details{
	position: absolute;
	top: 10px;
	left: 10px;
	height: 285px;
	width: 230px;
	background-color: #90f3d7;
	opacity: 0;
		
		& a{
			text-decoration: none;
			border: 1px solid #fff;
			color: #FFF;
			font-size: 0.938em;
			width: 150px;
			height: 50px;
			text-align: center;    
    		line-height: 50px;    
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);



			
		}


		&:hover{
			opacity: 0.8;
			-webkit-transition: .5s ease-in-out;
			   -moz-transition: .5s ease-in-out;
			    -ms-transition: .5s ease-in-out;
			     -o-transition: .5s ease-in-out;
			        transition: .5s ease-in-out;
		}

}
.collections__wrapper{
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding-top: 133px; 
	-webkit-align-items: center;
	          align-items: center;
	  
}
.collections__tagline{
	font-size: 2.813em;
	font-weight: 400;
	margin-bottom: 45px;
}
.collections__text{
	font-size: 0.938em;
	line-height: 2;
	font-weight: 300;
	max-width: 550px;
	color: #A6A5A5;
}
.collection__btn{
	height: 50px;
    width: 145px;
      border: none;
    background-color: #82F4D3;
    font-size:0.938em;
    cursor: pointer;
    position: relative;
    margin-top: 60px;
    	
    	&:before{
    		content: "";
    		height: 50px;
    		width: 145px;
    		position: absolute;
    		top: -10px;
    		left: -10px;
    		border: 1px solid #82F4D3;
    		
    	}
}
.collections__img{
	padding: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 2px #e3e3e3;
	position: relative;
		
		&:after{
			content: "";
			width: 295px;
			height: 388px;
			position: absolute;
			top: 50%;
    		left: 60%;
    		z-index: -1;
			  background-image: -webkit-linear-gradient(24deg, rgb(101,224,188) 0%, rgb(201,249,235) 100%);
			  background-image: -o-linear-gradient(24deg, rgb(101,224,188) 0%, rgb(201,249,235) 100%);
			  background-image: linear-gradient(24deg, rgb(101,224,188) 0%, rgb(201,249,235) 100%);
			  opacity: 0.722;
			  }
			 
			
			
			
}
.thought{
	margin-top: 200px;
	background-color: #f8f8f8;
	padding: 100px 0;
}
.trought__info--tagline{
	margin: 0;
	font-size: 2.813em;
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;
}
.trought__info--text{
	max-width: 835px;
	margin: 35px auto;
	text-align: center;
	line-height: 1.66666;
	color: #A6A5A5;
	font-weight: 300;
	
}
.trought__info--autor{
	margin: 0 auto;
	max-width: 135px;
	& a{
		text-decoration: none;
		color: #A6A5A5;
		font-size: 1.125em;
		font-weight: 400;
		text-align: center;
		
		& span{
			color: #5CD0AE;
			text-align: center;
			padding-left: 13px;
		}
	}
}
.latest__blog{
	padding-top: 100px;
}
.latest__blog--wrapper{
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	margin-top: 60px;
}
.latest__blog--tagline{
	font-size: 2.813em;
	text-align: center;
	margin: 0;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;

}
.latest__blog--img{
	padding: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 2px #e3e3e3;
	position: relative;
	
		&:before{
			content: "";
			position: absolute;
			top: -13%;
			left: -15%;
			width: 287px;
			height: 373px;
			border: 7px solid #f9f9f9;
			-webkit-border-radius: 12px;
			        border-radius: 12px;
			z-index: -1;
		}

		&:after{
			content: url(../img/nikeblog.png);
			position: absolute;
			top: 57%;
			left: 75%;
			z-index: -1;
		}
}
.latest__blog--content{
	max-width: 577px;
}
.blog__tagline{
	font-size: 1.250em;
	font-weight: 400;
	margin: 11px 0;
}
.blog__text{
	font-size: 0.938em;
	line-height: 1.6666;
	color: #A6A5A5;
	font-weight: 300;
	margin: 0;
}
.blog__btn{
	height: 50px;
    width: 145px;
      border: none;
    background-color: #82F4D3;
    font-size:0.938em;
    cursor: pointer;
    position: relative;
    margin: 75px 0 0 433px;
    	
    	&:before{
    		content: "";
    		height: 50px;
    		width: 145px;
    		position: absolute;
    		top: -10px;
    		left: -10px;
    		border: 1px solid #82F4D3;
    	}
}
.slider{
	
	display: flex;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	-webkit-align-items: center;
	        align-items: center;
	padding-right: 40px;
}
.slide__choose{
	display: flex;
    justify-content: space-between;
    align-items: center;

	& span{
		width: 15px;
		height: 15px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		background-color: #232323;
		margin-left: 15px;
		cursor: pointer;
	}
	& span:nth-child(2){
		background-color: #a2f2db;
	}
	& span:nth-child(3){
		background-color: #e1e1e1;
		margin-right: 15px;

	}
}
.slide__line{
	& span{
		height: 1px;
		width: 45px;
		border: 1px solid #7f7f7f;
		display: inherit;
		margin-right: 15px;
	}
}
.slide__border{
	& span{
		display:block;
		height: 30px;
		width: 30px;
		background-color: #FFF;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		border: 7px solid #97f0d6;
		margin-right: 15px;
	}
}
.arrow__left,
.arrow__right{
	position: relative;
	border: none;
	background-color: #FFF;
	cursor: pointer;
}

.arrow__left:before{
	content: "";
	position: absolute;
	position: absolute;
	left:10px;
	top: -2px;
	height: 15px;
	width: 3px;
	background-color: #181818;
	display: inline-block;
	-webkit-transform: rotate(-50deg);
	   -moz-transform: rotate(-50deg);
	    -ms-transform: rotate(-50deg);
	     -o-transform: rotate(-50deg);
	        transform: rotate(-50deg);
	
}
.arrow__left:after{
	content: "";
	position: absolute;
	position: absolute;
	left:10px;
	top: -10px;
	height: 15px;
	width: 3px;
	background-color: #181818;
	display: inline-block;
	-webkit-transform: rotate(50deg);
	   -moz-transform: rotate(50deg);
	    -ms-transform: rotate(50deg);
	     -o-transform: rotate(50deg);
	        transform: rotate(50deg);
	
}

.arrow__right:before{
	content: "";
	position: absolute;
	position: absolute;
	left:25px;
	top: -1px;
	height: 15px;
	width: 3px;
	background-color: #5cdeb7;
	display: inline-block;
	-webkit-transform: rotate(50deg);
	   -moz-transform: rotate(50deg);
	    -ms-transform: rotate(50deg);
	     -o-transform: rotate(50deg);
	        transform: rotate(50deg);
	
}
.arrow__right:after{
	content: "";
	position: absolute;
	position: absolute;
	left:25px;
	top: -10px;
	height: 15px;
	width: 3px;
	background-color: #5cdeb7;
	display: inline-block;
	-webkit-transform: rotate(-50deg);
	   -moz-transform: rotate(-50deg);
	    -ms-transform: rotate(-50deg);
	     -o-transform: rotate(-50deg);
	        transform: rotate(-50deg);
	
}
.contact{
	margin-top: 195px;
	
}
.footer__wrapper{
	padding-top: 45px;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding-right: 50px;
}
.footer__nav{
	width: 315px;
}
.footer__nav-list{
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	max-height: 150px;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0;
	padding: 0;
	list-style-type: none;
	
		& a{
			text-decoration: none;
			font-size: 0.938em;
			color: #a6a5a5;
		}
}
.form__tag{
	font-size: 0.938em;
	color: #a6a5a5;
	font-weight: 400;
	margin: 0 0 30px 0;
}
form{
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
}
.email__input{
	border: none;
	height: 50px;
	width: 300px;
	-webkit-box-shadow:0px 0px 10px 2px #e3e3e3;;
	        box-shadow:0px 0px 10px 2px #e3e3e3; 
	padding-left: 30px;
	font-size: .938em;
	color: #a6a5a5;
}
.submit__btn{
	height: 50px;
	width: 145px;
	margin-left: 10px;
	border: none;
	background-color: #82f4d3;
	color: #000;
	font-size: .938em;
}
.footer__social-list{
	display: flex;
	list-style-type: none;
	padding: 0;
	
		& a{
			color: #bbbbbb;
		}
	
}
.footer__aside{
	display: flex;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	    
	    & a{
	    	text-decoration: none;
	    	color: #a6a5a5;
	    	font-size: 0.938em;
	    	font-weight: 300;
	    	padding: 25px 0;
	    	
	    }
}